<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone8,2</key>
	<dict>
		<key>TopRectangle</key>
		<array>
			<integer>305</integer>
			<integer>80</integer>
			<integer>632</integer>
			<integer>90</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>30</integer>
			<integer>192</integer>
			<integer>120</integer>
			<real>1863</real>
		</array>
		<key>RightRectangle</key>
		<array>
			<integer>1088</integer>
			<integer>192</integer>
			<integer>120</integer>
			<real>1863</real>
		</array>
	</dict>
	<key>iPhone7,2</key>
	<dict>
		<key>TopRectangle</key>
		<array>
			<integer>180</integer>
			<integer>55</integer>
			<integer>390</integer>
			<integer>55</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>19</integer>
			<integer>129</integer>
			<integer>81</integer>
			<real>1105</real>
		</array>
		<key>RightRectangle</key>
		<array>
			<integer>648</integer>
			<integer>129</integer>
			<integer>81</integer>
			<integer>1105</integer>
		</array>
	</dict>
	<key>iPhone7,1</key>
	<dict>
		<key>TopRectangle</key>
		<array>
			<integer>305</integer>
			<integer>80</integer>
			<integer>632</integer>
			<integer>90</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>30</integer>
			<integer>192</integer>
			<integer>120</integer>
			<real>1863</real>
		</array>
		<key>RightRectangle</key>
		<array>
			<integer>1088</integer>
			<integer>192</integer>
			<integer>120</integer>
			<real>1863</real>
		</array>
	</dict>
	<key>iPhone8,1</key>
	<dict>
		<key>TopRectangle</key>
		<array>
			<integer>180</integer>
			<integer>55</integer>
			<integer>390</integer>
			<integer>55</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>19</integer>
			<integer>129</integer>
			<integer>81</integer>
			<real>1105</real>
		</array>
		<key>RightRectangle</key>
		<array>
			<integer>648</integer>
			<integer>129</integer>
			<integer>81</integer>
			<integer>1105</integer>
		</array>
	</dict>
	<key>iPhone6,2</key>
	<dict>
		<key>RightRectangle</key>
		<array>
			<integer>537</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>907</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>19</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>907</integer>
		</array>
		<key>TopRectangle</key>
		<array>
			<integer>135</integer>
			<integer>55</integer>
			<integer>370</integer>
			<integer>55</integer>
		</array>
	</dict>
	<key>iPhone6,1</key>
	<dict>
		<key>RightRectangle</key>
		<array>
			<integer>537</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>907</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>19</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>907</integer>
		</array>
		<key>TopRectangle</key>
		<array>
			<integer>135</integer>
			<integer>55</integer>
			<integer>370</integer>
			<integer>55</integer>
		</array>
	</dict>
	<key>iPhone5.1</key>
	<dict>
		<key>RightRectangle</key>
		<array>
			<integer>537</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>907</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>19</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>907</integer>
		</array>
		<key>TopRectangle</key>
		<array>
			<integer>135</integer>
			<integer>55</integer>
			<integer>370</integer>
			<integer>55</integer>
		</array>
	</dict>
	<key>iPhone5.2</key>
	<dict>
		<key>RightRectangle</key>
		<array>
			<integer>537</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>907</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>19</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>907</integer>
		</array>
		<key>TopRectangle</key>
		<array>
			<integer>135</integer>
			<integer>55</integer>
			<integer>370</integer>
			<integer>55</integer>
		</array>
	</dict>
	<key>iPhone5.3</key>
	<dict>
		<key>RightRectangle</key>
		<array>
			<integer>537</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>907</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>19</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>907</integer>
		</array>
		<key>TopRectangle</key>
		<array>
			<integer>135</integer>
			<integer>55</integer>
			<integer>370</integer>
			<integer>55</integer>
		</array>
	</dict>
	<key>iPhone5.4</key>
	<dict>
		<key>RightRectangle</key>
		<array>
			<integer>537</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>907</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>19</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>907</integer>
		</array>
		<key>TopRectangle</key>
		<array>
			<integer>135</integer>
			<integer>55</integer>
			<integer>370</integer>
			<integer>55</integer>
		</array>
	</dict>
	<key>iPhone4.1</key>
	<dict>
		<key>RightRectangle</key>
		<array>
			<integer>537</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>734</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>19</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>734</integer>
		</array>
		<key>TopRectangle</key>
		<array>
			<integer>180</integer>
			<integer>55</integer>
			<integer>280</integer>
			<integer>55</integer>
		</array>
	</dict>
	<key>iPhone4</key>
	<dict>
		<key>RightRectangle</key>
		<array/>
		<key>LeftRectangle</key>
		<array/>
		<key>TopRectangle</key>
		<array/>
	</dict>
	<key>x86_64_4s</key>
	<dict>
		<key>RightRectangle</key>
		<array>
			<integer>537</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>734</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>19</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>734</integer>
		</array>
		<key>TopRectangle</key>
		<array>
			<integer>180</integer>
			<integer>55</integer>
			<integer>280</integer>
			<integer>55</integer>
		</array>
	</dict>
	<key>x86_64_6P</key>
	<dict>
		<key>TopRectangle</key>
		<array>
			<integer>305</integer>
			<integer>70</integer>
			<integer>632</integer>
			<integer>90</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>30</integer>
			<integer>192</integer>
			<integer>120</integer>
			<integer>1861</integer>
		</array>
		<key>RightRectangle</key>
		<array>
			<integer>1088</integer>
			<integer>192</integer>
			<integer>120</integer>
			<integer>1861</integer>
		</array>
	</dict>
	<key>x86_64_6</key>
	<dict>
		<key>TopRectangle</key>
		<array>
			<integer>180</integer>
			<integer>55</integer>
			<integer>390</integer>
			<integer>55</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>19</integer>
			<integer>129</integer>
			<integer>81</integer>
			<real>1105</real>
		</array>
		<key>RightRectangle</key>
		<array>
			<integer>648</integer>
			<integer>129</integer>
			<integer>81</integer>
			<integer>1105</integer>
		</array>
	</dict>
	<key>x86_64</key>
	<dict>
		<key>RightRectangle</key>
		<array>
			<integer>537</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>908</integer>
		</array>
		<key>LeftRectangle</key>
		<array>
			<integer>19</integer>
			<integer>128</integer>
			<integer>81</integer>
			<integer>908</integer>
		</array>
		<key>TopRectangle</key>
		<array>
			<integer>140</integer>
			<integer>55</integer>
			<integer>360</integer>
			<integer>55</integer>
		</array>
	</dict>
	<key>MinAvatarSize</key>
	<array>
		<integer>79</integer>
		<integer>10</integer>
	</array>
	<key>MinAvatarSize2</key>
	<array>
		<integer>118</integer>
		<integer>10</integer>
	</array>
	<key>MaxAvatarSize</key>
	<array>
		<integer>82</integer>
		<integer>82</integer>
	</array>
	<key>MaxAvatarSize2</key>
	<array>
		<integer>121</integer>
		<integer>121</integer>
	</array>
	<key>BackgroundThreshold</key>
	<integer>235</integer>
</dict>
</plist>
